<div class="main" style="background-image:url('./assets/back.png');height: 100vh;background-repeat: no-repeat;background-size: cover" >
    <div class="content">
        <h2>SIMPLIFY YOUR SHIPPING PROCESS</h2>
        <h2>SAVE TIME AND MONEY.</h2>
        <p class="para">
            Lorem ipsum dolor sit amet, ne tota dictas invenire eos, saepe timeam an duo, minim scriptorem cu quo. Saepe appareat cu
            eam, eu vix liber dictas dicunt
        </p>
        <P>Let’s Get Started</P>
        <input type="text" placeholder="Enter your email">
        <button class="arrow">
            <i class="fa fa-long-arrow-right" style="font-size:16px" aria-hidden="true"></i>
        </button>
    </div>

</div>
<div class="box">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutGap="40px">
        <div fxLayout="row" fxLayoutAlign="space-around center" style="padding:16px">
            <img src="./assets/box.png" height="26px;">
            <span>Parcel</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="padding:16px">
            <img src="./assets/box.png" height="26px;">
            <span>LTL-TL</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="padding:16px">
            <img src="./assets/airplane.png" height="26px;">
            <span>Air</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" style="padding:16px">
            <img src="./assets/ship.png" height="26px;">
            <span>Ocean</span>
        </div>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-evenly center" style="margin: 36px 0px;color:#000" fxLayout.xs="column">
    <div>
        <img src="./assets/countries.png" width="100%" class="img-responsive">
        <h3>
            MULTI-CARRIER SHIPPING SOFTWARE SOLUTIONS
        </h3>
        <p>MULTI-CARRIER,MULTI-MODAL,AND</p>
        <p>MULTI-PLATFORM SHIPPING SOFTWARE</p>

    </div>
    <div>
        <img src="./assets/companies.png" width="100%" class="img-responsive">

    </div>
</div>
<div>
    <div align="center">
        <h3 style="color:#000">Process</h3>
        <p style="margin: 0px 15px;line-height:22px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae tempus odio. Nam gravida diam eros, non ultricies velit
            varius ut.
        </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" style="padding:10px;">
        <img src="./assets/group-trans.png" fxFlex="26" style="padding: 10px 34px;" width="100%">
        <div fxFlex="26" style="padding: 10px 36px;">
            <h5 style="color:#eb5b49">Headline 1</h5>
            <p style="font-size:14px;line-height:26px;font-weight:300">
                In pellentesque dolor sit amet nisi lacinia euismod. Mauris elementum turpis sem, ut laoreet purus porta ut. Suspendisse
                posuere purus id nunc eleifend, id condimentum nulla tempus. Donec tortor sem, efficitur a laoreet ut, lacinia
                ac ante. Nullam vel neque suscipit, pulvinar arcu vel, interdum enim.
            </p>
            <button class="more">More Info</button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" style="margin-top:26px"fxLayout.xs="column">
        <div fxFlex="26" style="padding: 10px 36px;">
            <h5 style="color:#eb5b49">Headline 2</h5>
            <p style="font-size:14px;line-height:26px;font-weight:300">
                In pellentesque dolor sit amet nisi lacinia euismod. Mauris elementum turpis sem, ut laoreet purus porta ut. Suspendisse
                posuere purus id nunc eleifend, id condimentum nulla tempus. Donec tortor sem, efficitur a laoreet ut, lacinia
                ac ante. Nullam vel neque suscipit, pulvinar arcu vel, interdum enim.
            </p>
            <button class="more">More Info</button>
        </div>
        <img src="./assets/back1.png" fxFlex="26" style="padding: 10px 34px;">

    </div>
</div>
<div>
    <div align="center">
        <h3 style="color:#000">
            Trusted by
            <span style="color:#eb5b49">50,000+</span>
            Shippers In
            <span style="color:#eb5b49">172+</span>
            Countries
        </h3>
        <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" style="margin-top:26px;" fxLayoutGap="2px" fxLayout.sm="" fxLayout.xs="column">
            <div fxFlex="20" *ngFor="let item of images" class="group-img">
                <img src="{{item}}">
            </div>
        </div>
    </div>
</div>
<div style="margin-top:46px">
    <div align="center">
        <h3 style="color: #000;font-weight: 300;">
            INDUSTRY TAILORED INBOUND & OUTBOUND TMS SOLUTIONS
        </h3>
        <p style="margin: 0px 0px;line-height: 22px;font-weight:200;font-size:14px">
            ProcessWeaver offers a range of innovative multi-carrier, multi-modal and multi-platform solutions to help solve your complex
            industry logistics challenges.
        </p>
        <img src="./assets/all.png" style="margin-top:16px;height:464px;width:auto" class="img-responsive">
        <h3>
            Inbound & Outbound Shipping Software You Can Count On
        </h3>
        <button style="color: #fff;font-weight: 300;background-color:#af322e;padding: 12px;border-radius: 6px;" class="let">
            LET US PROVE IT
        </button>
    </div>

</div>
<div fxLayout="row wrap" fxLayoutAlign="center start" style="padding: 34px;font-size: 16px;" fxLayoutGap="15px" fxLayout.sm="row" fxLayout.xs="column">
    <div fxFlex="20" class="cards">
        <img src="./assets/keep-secure.png" class="img-valign">
        <span>Multi-Carrier Shipping Software</span>
    </div>
    <div fxFlex="20" class="cards">
        <img src="./assets/keep-secure.png" class="img-valign">
        <span>SAP Multi-Carrier Shipping</span>
    </div>
    <div fxFlex="20" class="cards">
        <img src="./assets/keep-secure.png" class="img-valign">
        <span>Transportation management</span>
    </div>
    <div fxFlex="20" class="cards">
        <img src="./assets/keep-secure.png" class="img-valign">
        <span>Dispatch software</span>
    </div>
    <div fxFlex="20" class="cards">
        <img src="./assets/keep-secure.png" class="img-valign">
        <span>Package tracking</span>
    </div>
    <div fxFlex="20" class="cards">
        <img src="./assets/keep-secure.png" class="img-valign">
        <span>Fedex ship manager software</span>
    </div>
    <div fxFlex="20" class="cards">
        <img src="./assets/keep-secure.png" class="img-valign">
        <span>Tms system</span>
    </div>
    <div fxFlex="20" class="cards">
        <img src="./assets/keep-secure.png" class="img-valign">
        <span>Multi-Carrier Shipping Software</span>
    </div>
</div>
<div>
<div class="container-fluid" style="background-image:url('./assets/footerbg.png');background-repeat:no-repeat;background-size:cover;text-align: center">
<div  style="vertical-align: middle;padding: 50px;">
    <img src="./assets/30.png" width="30%">
    <p style="color:white;margin-top: 30px;">Up to 30% reduction with our next generation Multi-Carrier shipping software</p>
    </div>
</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" style="background-color:#1b5784
;padding:30px;" fxLayout.xs="column" fxLayout.sm="row">
<div fxFlex="22" class="text-center" style="vertical-align: middle">
    <img src="assets/processweaver-white.png" class="img-responsive" width="60%;" style="margin:auto;margin-bottom: 15px;">
</div>
<div fxFlex="22">
    <ul style="list-style-type:none;display: block;color:white;line-height: 30px;">
        <li>About</li>
        <li>Company</li>
        <li>Products</li>
        <li>Contacts</li>
    </ul>
</div>
<div fxFlex="22">
    <ul style="list-style-type:none;display: block;color:white;line-height: 30px;">
        <li>Terms and conditions</li>
        <li>Privacy policy</li>
        <li>Support</li>
        <li>Chrome Extension</li>
    </ul>
</div>
<div fxFlex="22" class="text-center">
    <p style="color:white;padding:0px;width: 100%;text-align: center;padding-left: 8%;padding-right: 8%">#201 2nd floor Synergy building
        Above andharabank
        kajaguda main road hyderabd</p>
        <ul class="social" style="text-align: center">
            <li><a><img src="./assets/fb.png"></a></li>
            <li><a><img src="./assets/insta.png"></a></li>
            <li><a><img src="./assets/linkedin.png"></a></li>
            <li><a><img src="./assets/twitter.png"></a></li>
        </ul>
</div>
</div>