<!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <div class="logo">
        <img src="./assets/pw.png">
    </div>
    <div class="menu">
        <ul>
            <li>ERP SHIPPING SOLUTIONS</li>
            <li>E-COMMERCE SHIPPING SOLUTIONS</li>
            <li>DESKTOP SHIPPING SOLUTIONS</li>
            <li>INBOUND SOLUTIONS</li>
            <li><button class="request">Request A Demo</button></li>
        </ul>
    </div>
</div> -->


                        <nav class="navbar navbar-default" role="navigation" id="navbar">
                            <div class="container-fluid" id="navfluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand logo">
                                        <img src="./assets/pw.png" routerLink="/" width="150px" height="50px" alt="Digital Marketing Training in Hyderabad">
                                    </a>
                                </div>
                                <div class="collapse navbar-collapse pull-right" id="navigationbar">
                                    <ul class="nav navbar-nav navbar-right" style="color:#354860 !important;padding-top:12px">
                                      <li class="list-item animated" style="z-index: 10005;" >
                                            <a routerLink="" routerLinkActive="active-link" >ERP SHIPPING SOLUTIONS</a>
                                        </li>
                        
                                        
                                            <!-- <li class="list-item animated dropdown dropbtn" style="z-index: 10005;">
                                                <a routerLink="/programs" routerLinkActive="active-link">E-COMMERCE SHIPPING SOLUTIONS</a>
                                            </li> -->
                                            <li class="list-item animated fadeIn">
                                                    <a routerLinkActive="active-link" routerLink=''>DESKTOP SHIPPING SOLUTIONS</a>
                                                </li>
                                                <li class="list-item animated fadeIn">
                                                    <a routerLinkActive="active-link" routerLink="">INBOUND SOLUTIONS</a>
                                                </li>
                            
                                            
                                                <li class="list-item book-an-appointment">
                                                    <a routerLink="">REQUEST A DEMO</a>
                                                </li>
                        
                                        
                                        
                                            
                                    </ul>
                                </div>